<!DOCTYPE html>
<html>
<head>
	<title>Vue.js</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div id="app">
		<header class="header">

			

		</header>
		<section class="container">
			<section class="container__content">


				<input type="text" v-model="mensagem">
				<p>Mensagem: {{mensagem}}</p>

				<input type="checkbox" v-model="selecionado"> <br>
				<p>Selecionado: {{selecionado}}</p>


				<input type="checkbox" value="Marcelo" v-model="nomes"> Marcelo <br>
				<input type="checkbox" value="Pedro" v-model="nomes"> Pedro <br>
				<input type="checkbox" value="Jorge" v-model="nomes"> Jorge <br>
				<p>Nomes: {{nomes}}</p>

				<select v-model="opcao">
					<option v-for="item in opcoes" v-bind:value="item.letra">{{item.nome}}</option>
				</select>

				<p>{{opcao}}</p>

			</section>
			<aside class="container__sidebar">

				
			</aside>
		</section>
		<footer class="footer">


		</footer>
	</div>

	<script src="script.js"></script>
</body>
</html>



	<!--  O self o evento so funciona no proprio elemento e não nos filhos-- >
	<!--  O once o evento so funciona uma unica vez -- >

