<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

	<div id="app">
		<input type="text" v-model="texto"> <!-- A propriedade v-model pega o conteudo dp input e coloca na variavel definida -->
		<span>{{texto}}</span> <br> <br>

		<span>{{n1}}</span>
		<input type="text" v-model="n2">
		<span>{{n1+parseInt(n2)}}</span>
	</div>	

	<script type="text/javascript" src="script.js"></script>
</body>
</html>